@import "../../../../assets/styles/variables";

.login {
  padding-top: 106px;
  padding-bottom: 92px;

  .container {
    display: flex;

    .default-form {
      width: 429px;
      margin-top: 14px;

      .auth-link {
        margin-top: 10px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 14px;

        a {
          margin-left: 7px;
          color: $secondary;
          transition: .3s;

          &:hover {
            color: $secondary-hover;
          }
        }
      }
    }
  }
}
