@import "variables";

.default-form {
  margin-right: 185px;
  width: 422px;

  .default-form-title {
    width: 431px;
    font-family: Lora, sans-serif;
    font-size: 36px;
    color: $secondary;
    line-height: 130%;
    margin-bottom: 40px;
  }

  .default-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }

  .default-form-extra {
    margin-bottom: 40px;
  }
}
